:root {
  --very-dark-blue: #0e2a47;
  --dark-blue: #1174ba;
  --light-blue: #5acbe9;
  --red: #ee204b;
}

nav {
  display: flex;
  background-color: var(--dark-blue);
  flex-direction: column;
  position: sticky;
  height: 100vh;
  top: 0px;
}

section {
  padding: 40px;
  flex-grow: 1;
}

.wrapper {
  display: flex;
}

.icon {
  font-size: 32px;
  padding: 5px;
  color: var(--very-dark-blue);
  transition: all 0.3s ease-in-out;
}

.icon:hover {
  color: var(--dark-blue);
  cursor: pointer;
}

.icon.bin:hover {
  color: var(--red);
}

.nav {
  padding: 12px;
  color: gainsboro;
}

.nav:hover {
  color: white;
}

.card {
  display: flex;
  align-items: center;
  width: max-content;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.2);
  line-height: 0;
}

.hero {
  border-radius: 10px;
  box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.2);
  margin: auto;
}

.bottom-right {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: white;
}
