:root {
  --very-dark-blue: #0e2a47;
  --dark-blue: #1174ba;
  --light-blue: #5acbe9;
}

nav {
  display: flex;
  background-color: var(--dark-blue);
  flex-direction: column;
  height: 100vh;
}

section {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 10px;
}

.wrapper {
  display: flex;
}

.icon {
  margin: 8px;
}
