form {
  margin: 20px;
  /* max-width: 500px; */
}

tr {
  background-color: white;
}

fieldset {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border: 2px solid var(--shadow);
  margin: 20px 0;
  padding: 5px 15px 15px;
}

fieldset input {
  font-family: 'IBM Plex Sans';
  font-size: 1.4rem;
  padding: 1rem 1.2rem;
  margin: 5px 0;
  border: 1px solid var(--shadow);
  /* box-shadow: 0 0 1px 1px var(--shadow); */
  /* border-radius: 10px; */
}

fieldset label {
  margin-top: 10px;
}

/* modal */

.modal {
  border: 0px;
  outline: 0px;
}

.right {
  position: relative;
  max-height: 100vh;
  left: 50%;
  width: 50%;
}

/* buttons */

.big {
  width: 100%;
}

.button-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  /* width: inherit; */
  /* flex-grow: 3; */
  flex-basis: 1;
}

.button-container button:first-child {
  flex-grow: 1;
}
