button,
input {
  background-color: white;
  border: 1px solid var(--shadow);
  border-radius: var(--border-radius);
  font-family: 'IBM Plex Sans';
  font-weight: 500;
  font-size: 1.4rem;
  font-style: normal;
  color: rgb(24, 29, 31);
}

select {
  border: 1px solid var(--shadow);
  border-radius: 5px;
  color: var(--placeholder);
  /* padding: 20px; */
  font-weight: 400;
  height: 42px;
  padding: 8px;
  margin: 5px 0;
}

/* a {
  display: contents;
  height: 500px;
  width: inherit;
  text-decoration: none;
} */

.green {
  color: green;
  background-color: green;
}

/* you have to add inputs */

.compartment {
  margin: 40px;
  min-width: 800px;
}

.widget {
  margin: 40px;
}

.toolbar {
  display: flex;
  flex-direction: row;
  gap: 30px;
  width: inherit;
}

/* Icon */

.icon {
  width: 18px;
  height: 18px;
  line-height: 0;
  transition: all 0.1s ease-in;
  /* overflow: visible; */
}

.icon:hover {
  background-color: var(--shadow-light);
  box-shadow: 0 0 0px 5px var(--shadow-light);
  border-radius: 5px;
}
