table {
  border-collapse: collapse;
  background-color: #1174ba;
  overflow: hidden;
}

th {
  color: white;
  text-transform: capitalize;
  padding: 15px;
}

td {
  background-color: white;
  padding: 10px;
}

tr {
  border-bottom: 1px solid #ddd;
}
