table {
  border-collapse: collapse;
  /* margin: 25px 0; */
  background-color: #0e2a47;
  overflow: hidden;
}

th {
  color: white;
  text-align: left;
  text-transform: capitalize;
  padding: 15px;
}

td {
  background-color: white;
  padding: 8px;
}

tr {
  border-bottom: 1px solid #ddd;
}

.table-icon {
  font-size: 28px;
}

@media (max-width: 768px) {
  table.hero {
    border-radius: 0;
  }
}
