.button,
.link {
  cursor: pointer;
  line-height: 0;
  text-decoration: none;
}

.link {
  display: inline-block;
  border: 1px solid var(--shadow);
  border-radius: 5px;
  text-align: center;
  align-content: center;
  justify-content: center;
  min-width: 168px;
}

/* types */

.content-text {
  min-width: 168px;
  padding: 1rem 1.2rem;
  font-size: 1.4rem;
  font-weight: 500;
  height: auto;
}

.content-icon {
  margin: 0;
  padding: 0;
  min-width: 0;
}

/* variants */

/* action */

.variant-action {
  outline: 0;
  border: 0;
  transition: all 0.1s ease-in;
}

.variant-action:hover {
  color: var(--blue);
  background-color: var(--shadow-light);
  box-shadow: 0 0 0px 5px var(--shadow-light);
  border-radius: 5px;
}

/* other variants */

.variant-aqua,
.variant-blue,
.variant-red,
.color-placeholder,
.disabled {
  color: white;
  border: 0;
  box-shadow: var(--box-shadow);
}

.variant-aqua {
  background-color: var(--light-blue);
}

.variant-blue {
  background-color: var(--blue);
}

.variant-red {
  background-color: var(--red);
}

.disabled {
  color: white;
  background-color: var(--placeholder);
}
