/* page components */

section {
  margin: 40px;
  /* padding: 20px 10px; */
}

.toolbar {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

/* inputs */

.button {
  font-family: 'IBM Plex Sans';
  font-weight: 500;
  font-size: 1.4rem;
  background-color: white;
  color: var(--very-dark-blue);
  border: 0;
  padding: 1rem 1.5rem;
  border-radius: 10px;
  color: rgb(24, 29, 31);
  box-shadow: 0px 0px 1px 1px var(--shadow);
}

/* .button:hover {
  background-color: var(--very-dark-blue);
  transition: all 0.5s;
} */

.searchbar {
  border: 0;
  padding: 0 10px;
  box-shadow: 0px 0px 1px 1px var(--shadow);
  /* outline:; */
  border-radius: 20px;
}

.dateinput {
  box-shadow: 0px 0px 1px 1px var(--shadow);
  border-radius: 6px;
  padding: 0 10px;
  border: 0;
  outline: 0;
}

.dateinput:hover {
  cursor: pointer;
}
